h1 {
    font-family: 'Mukta', sans-serif;
    color: rgb(149, 75, 75);
    background-color: rgb(248, 202, 160);
    border-radius: 1;
    align-items: center;
    text-align: center;
    margin: 1em;
    padding: 1em;
    border-radius: 2em;
}

.nav {
    background-color: rgb(248, 202, 160);
    align-items: center;
    text-align: center;
    margin: 2em;
    padding: 1em;
    border-radius: 2em;
    background:rgb(248,202,160);
    ;
}


body {
    color: rgb(8, 8, 8);
    background: rgb(149, 75, 75);
    font-family: sans-serif;
    align-items: center;


}

h2 {
    text-align: center;
}

.frase1 {
    text-align: center;
}

.imagen1 {
    text-align: center;
}

footer {
    justify-content: space-evenly;
    border-radius: 2em;
    background: rgb(248, 202, 160);
    padding: 1em;


}
.pie{
    display: flex;
    justify-content: space-evenly;

}
form input{
    background: rgb(248,202,160);

}
select option{
    background: rgb(248,202,160);

}
#cur{
    background: rgb(248,202,160);

}
fieldset{
    width: 50%;
    text-align: center;
    background: rgb(194, 119, 119);
    
}
.for{
    display: flex;
    justify-content: center;
    align-items: center;
    
}